In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/ppp_excerpt.csv")

In [8]:
## Run the code that resets the default display here to round the numbers, remove scientific notation, etc.
pd.options.display.float_format = '{:,.0f}'.format

In [10]:
## Run the code here to return all summary statistics in one go
df.describe()

,LoanNumber,SBAOfficeCode,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,ServicingLenderLocationID,JobsReported,NAICSCode,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,OriginatingLenderLocationID,ForgivenessAmount
count,"1,000","1,000","1,000","1,000","1,000","1,000","1,000","1,000","1,000",999,413,998,38,147,1,77,20,"1,000",935
mean,"5,323,517,923","1,074",37,100,"952,351","964,704",0,"62,647",73,"509,317","16,864","938,579","33,246","71,710","10,000","111,150","33,143","62,025","912,983"
std,"2,362,640,834",94,17,0,"947,021","950,929",0,"75,173",74,"181,263","59,265","938,039","35,466","69,605",NaN,"198,886","47,648","73,473","854,059"
min,"1,001,567,103",101,24,100,"155,010","155,010",0,"3,386",2,"112,511",1,"155,010",567,"1,000","10,000","2,098",900,"3,386","101,211"
25%,"3,570,982,102","1,084",24,100,"453,308","463,935",0,"3,386",30,"423,175",1,"452,336","9,250","28,695","10,000","28,944","4,191","3,386","456,726"
50%,"5,124,373,556","1,084",24,100,"617,999","631,722",0,"56,102",48,"541,350",1,"616,318","20,276","50,222","10,000","50,295","14,629","56,102","623,037"
75%,"7,058,052,030","1,084",60,100,"1,024,391","1,035,338",0,"116,975",85,"621,760","12,460","1,013,201","50,138","91,491","10,000","100,000","35,946","116,975","1,010,828"
max,"9,993,717,000","1,084",60,100,"9,571,397","9,538,531",0,"524,612",500,"924,120","880,559","9,538,531","151,421","404,926","10,000","1,490,741","200,772","518,683","9,615,885"

In [16]:
## What is the sum of all the forgiven loans
df["ForgivenessAmount"].sum()

853638795.3599999

In [18]:
## What is the sum of all the forgiven loans
## format with dollar sign and thousands separators
## round to zero decimals
total_loan_forgiven = f'${df["ForgivenessAmount"].sum():,.0f}'

In [22]:
## return the median for CurrentApprovalAmount loans, InitialApprovalAmount loans and ForgivenessAmount loan amounts
df[["CurrentApprovalAmount", "InitialApprovalAmount", "ForgivenessAmount"]].median()

CurrentApprovalAmount   631,722
InitialApprovalAmount   617,999
ForgivenessAmount       623,037
dtype: float64

In [26]:
##  Return the above as a frame
df[["CurrentApprovalAmount", "InitialApprovalAmount", "ForgivenessAmount"]].median().to_frame("Median Loan Amounts")

                       Median Loan Amounts
CurrentApprovalAmount              631,722
InitialApprovalAmount              617,999
ForgivenessAmount                  623,037

In [28]:
## get the count, mean and median for CurrentApprovalAmount
target_stats = ["mean", "median", "count"]
df["CurrentApprovalAmount"].agg(target_stats)

mean     964,704
median   631,722
count      1,000
Name: CurrentApprovalAmount, dtype: float64

In [ ]:
## automatically return a frame (without using to_frame()) for the count, mean and median for InitialApprovalAmount, CurrentApprovalAmount