In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/nyc-accidents.csv")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324383 entries, 0 to 324382
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     324383 non-null  object
 1   CRASH TIME                     324383 non-null  object
 2   BOROUGH                        210698 non-null  object
 3   LOCATION                       298090 non-null  object
 4   NUMBER OF PERSONS INJURED      324383 non-null  int64
 5   NUMBER OF PERSONS KILLED       324383 non-null  int64
 6   NUMBER OF PEDESTRIANS INJURED  324383 non-null  int64
 7   NUMBER OF PEDESTRIANS KILLED   324383 non-null  int64
 8   NUMBER OF CYCLIST INJURED      324383 non-null  int64
 9   NUMBER OF CYCLIST KILLED       324383 non-null  int64
 10  NUMBER OF MOTORIST INJURED     324383 non-null  int64
 11  NUMBER OF MOTORIST KILLED      324383 non-null  int64
 12  CONTRIBUTING FACTOR VEHICLE 1  323137 non-null  object
 13  CONTRIBUTING FACTOR VEHICLE 2  266488 non-null  object
 14  COLLISION_ID                   324383 non-null  int64
 15  VEHICLE TYPE CODE 1            321932 non-null  object
 16  VEHICLE TYPE CODE 2            245802 non-null  object
dtypes: int64(9), object(8)
memory usage: 42.1+ MB

In [65]:
boros =df["BOROUGH"].unique()

In [69]:
crashdate = df["CRASH DATE"].unique()

In [24]:
df_q = df.query("BOROUGH == 'QUEENS'")

In [30]:
df["VEHICLE TYPE CODE 1"].unique()

array(['ÔøΩMBU', 'Sedan', 'Station Wagon/Sport Utility Vehicle', 'Taxi',
       'AMBULANCE', 'Pick-up Truck', 'Van', 'Box Truck', 'Dump', nan,
       'PK', 'trailer', 'Bike', 'Bus', 'E-Bike', 'Tractor Truck Diesel',
       'Carry All', 'Motorcycle', 'Convertible', 'Flat Bed',
       'Tow Truck / Wrecker', 'van', 'Garbage or Refuse', 'Truck',
       'Chassis Cab', 'E-Scooter', '4 dr sedan', 'Garbage Tr',
       'fire truck', 'Ambulance', 'SCHOOL BUS', 'Motorbike', 'Tanker',
       'FDNY FIRE', 'FIRETRUCK', 'DUMP', 'Refrigerated Van',
       'Tractor Truck Gasoline', 'Beverage Truck', 'BOX TRUCK', 'truck',
       'Snow Plow', '7532433', 'Moped', 'Trailer', 'DUMP TRUCK', 'COM',
       'Flat Rack', '3-Door', 'Motorscooter', 'USPS TRUCK', 'Ram Promas',
       'Concrete Mixer', 'FDNY', 'TRUCK', 'LIMO', 'SKID LOADE',
       'Armored Truck', 'Stake or Rack', 'MARKED VAN', 'Power Shov', 'HD',
       'FDNY AMBUL', 'SKYWATCH', 'NYNJ RAIL', 'VAN/TRUCK', 'Vanette',
       'SEMI TRAIL', 'FIRE TRUCK', 'utility', 'UTILITY', 'sedan',
       'Pickup with mounted Camper', 'commercial', 'Minibike', 'Pallet',
       'Dump truck', 'Lunch Wagon', 'FRHT TRAIL', 'UTIL', 'TRK',
       'Van truck', 'FDNY EMS', 'MOPED', 'Unknown', 'MTA truck',
       'Lift Boom', 'Bulk Agriculture', 'unknown', 'TRAC', 'ambulance',
       'VAN TRUCK', 'Unk', 'AMB', 'STAK', 'NIU', 'MTA', 'TRACTOR',
       '2 dr sedan', 'USPS TRUC,', 'na', 'Government', 'Sanitation',
       'FIRET TRUC', 'G AMB', 'C1', 'SCOOTER', 'tow', 'UTILITY WH',
       'pick up', 'Tk', 'School Bus', 'TOW TRUCK', 'Fedex', 'PICK UP TR',
       'PICKUP', 'U HAUL TRU', 'UNKNOWN', 'AMBU', 'Subr', 'USPS Truck',
       'Pick up tr', 'fdny ambul', 'ambulette', 'TRAILOR', 'CEMENT TRU',
       'Sprinter v', 'FORK LIFT', 'nyc EMS', 'Commercial', 'road sweep',
       'Multi-Wheeled Vehicle', 'REP', 'FDNY ENGIN', 'Com', 'DELV',
       'refuse tru', 'Motorized Home', 'VMS', 'Flat bed t', 'Fire Truck',
       'Box truck', 'TRUCK TRAI', 'Ambulette', 'USPS truck', 'FDNY FIRET',
       'CMIX', 'util', 'EMS Ambula', 'FLAT', 'LADDER TRU', 'COMMERCIAL',
       'sanitaton', 'pickup', 'tk', 'g com', 'E-SKATEBOA',
       'Enclosed Body - Removable Enclosure', 'usps 88716', 'ebike',
       'SEDAN', 'PERM', 'Tow Truck', 'forlift', 'MOTOR SKAT',
       'FDNY LADDE', 'PICK UP', 'GARBAGE TR', 'Can', 'FLATBED FR',
       'Open Body', 'E-scooter', 'postal van', 'FDNY TRUCK', 'UNK',
       'TRAILER', 'FIRTRUCK', 'skateboard', 'TTAILER', 'fdny ems',
       'AMBULACE', 'bus', 'Street Swe', 'Scooter', 'FDNY fire',
       'DELIVERY', 'firetruck', 'Cement Tru', 'USPS/GOVT', 'Pedicab',
       'TRUCK VAN', 'Golf Cart', 'SUV', 'CATAPILLAR', 'POWER SHOV',
       'DELIVERY T', 'SWT', 'Trac', 'USPS', 'FLAT  BED', 'E-BIKE',
       'Fork Lift', 'PSD', 'Fire Engin', 'FORKLIFT', 'COURIER', 'Courier',
       'Leased amb', 'SMART CAR', 'message si', 'scooter', 'moped',
       'E-UNICYCLE', 'Street Cle', 'box', 'F550', 'SKATEBOARD',
       'Lawnmower', 'BICYCLE', 'almbulance', 'dark color', 'Work Van',
       'ford van', 'Fire truck', 'Minicycle', 'PC', 'box truck',
       'Tractor tr', 'FD LADDER', 'abulance', 'FDNY Engin', 'OTH',
       'Go kart', 'CHEVY EXPR', 'SLINGSHOT', 'dilevery t', 'FDNY #226',
       'FREIGHT FL', 'Fork lift', 'UNKN', 'ELECTRIC S', 'MOVING VAN',
       'usps', 'forklift', 'UPS TRUCK', 'backhoe', 'Delv', 'dump truck',
       'Freight', 'Horse', 'Cargo Van', 'USPS VAN', 'TRUCK FLAT',
       'BOBCAT FOR', 'Tractor Tr', 'Pumper', 'DELIVERY V', 'DOT EQUIPM',
       'Livestock Rack', 'GEN  AMBUL', 'J1', '18 WHEELER', 'MAIL TRUCK',
       'UTILITY VE', 'MOTORSCOOT', 'government', 'FIRE ENGIN',
       'Front-Load', 'DRILL RIG', 'Wh Ford co', 'suburban', 'E REVEL SC',
       'ROAD SWEEP', 'LIGHT TRAI', 'Tractor', 'UT', 'cross', 'Van Camper',
       'AMBULENCE', 'FOOD TRUCK', 'Bucket Tru', 'gator', 'FDNY Ambul',
       'JOHN DEERE', 'f-250', 'PICK-UP TR', 'BACK HOE', 'MECHANICAL',
       'postal tru', 'CHEVROLET', 'WORK VAN', 'Fdny ambul', 'REFG',
       'NYC FD', 'E-bike', 'camper tra', 'FUSION', 'GOLF CART',
       'POSTAL TRU', 'MTA BUS', 'LCOMM', 'MOTOR SCOO', 'NYC AMBULA',
       'e skate bo', 'Ford sprin', 'Work van', 'FREIG', 'FLATBED', 'ambu',
       'tow truck', 'Trc', 'HRSE', 'Pick up Tr', '0', 'postal bus',
       'F150XL PIC', 'hrse', 'EMS', 'Pick up', 'CAT', 'SUBN WHI',
       'E bike', 'FDNY Fire', 'com', 'CARGO VAN', 'ELEC. UNIC', '1C',
       'DIRT BIKE', 'USPS POSTA', 'White ambu', 'Utility.', 'FREIGHT TR',
       'TRAIL', 'Tow truck', 'FDNY EMT', 'TRL', 'FREIG DELV',
       'FREIGHTLIN', 'pc', 'delviery', 'Tow', 'E-Bik', 'Firetruck',
       'Horse Trai', 'delivery v', 'escavator', 'OMR', 'P/SH',
       'ford econo', 'pick', 'US POSTAL', 'USPS #7530', 'Hearse', 'ORION',
       'H1', 'Piggy back', 'SE', 'Hopper', 'PUSH SCOOT', 'NYS AMBULA',
       'tr', 'Delivery', 'postal ser', 'PICKUP TRU', 'School bus',
       'school bus', 'nat grid t', 'Ford Van', 'yellow cab', 'G com',
       'COM TRANS', 'SELF INSUR', 'LIT DIRECT', 'backh', 'D/V WB',
       'SUBURBAN', 'Bobcat', 'UTILITY TR', 'food truck', 'EMERGENCY',
       'fdny truck', 'amb', 'WAGON', 'T880', 'Amb', 'pay loader',
       'sprinter v', 'tractor tr', 'FDNY EMS V', 'CO', 'AMBULETTE', 'OMS',
       'RV/VAN', 'TR-Trailer', 'ESU RESCUE', 'City', 'TANK', 'pedicab',
       'TTRAILER', 'MTA Bus', 'I-haul', 'UNK BOX TR', 'RMP V',
       'YELLOWPOWE', 'skate', '197209', 'posta', 'E450', 'UTILI', 'FIRE',
       'Ambul', 'SCHOO', 'Tow t', 'E-Sco', 'towe truck', 'utili', 'St',
       'amulance', 'UNKNO', 'DEPT VAN #', 'MOPD', 'GRUMM', 'Trail',
       'FIRET', 'Wagon', 'AMBUL', 'Mack', 'E bik', 'PSH', 'US PO', 'Golf',
       'TRACT', 'BOX T', 'UHUAL', 'BACKH', 'DELVI', 'box t', 'SCOOT',
       'picku', 'trail', 'DELIV', 'L1', 'FORKL', 'van t', 'SKATE',
       'POSTA', 'Box T', 'PAYLO', 'SANIT', 'Forkl', 'ECONO', 'VAN/T',
       'tract', 'FUEL', 'TRC', 'Ambu', 'G COM', 'TANKE', 'GARBA', 'RV',
       '3 WHE', 'SEMI', '2015', 'SPRIN', 'road', 'DOT T', 'CRANE',
       'MTA B', 'FLAT/', 'SELF', 'Food', 'deliv', 'COMME', 'scoot', 'BOX',
       'acces', 'ROAD', 'schoo', 'STREE', 'Scoot', 'FEDEX', 'fdny',
       'LIEBH', 'CAB', 'TOW T', 'USP M', 'SANTI', 'tow t', 'ambul', 'LTR',
       'comme', 'prks', 'Unkno', 'limo', 'dump', 'g spc', 'CONT', 'HI TA',
       'CAT.', 'POLIC', 'Parce', 'PICKU', 'fire', 'Const', 'COMM', 'Fire',
       '35 FT', 'GOLF', 'WINEB', 'PU', 'BoxTr', 'forkl', 'Tow T', 'WHITE',
       'TOWTR', 'PICK-', 'E BIK', 'POWER', 'MINI', 'trl', 'ELECT', 'TRLR',
       'stree', 'elect', 'Box t', 'MACK', 'VAN T', 'FORK', 'vespa',
       'Sprin', 'MOBIL', 'CITY', 'back', 'LIMOU', 'UHAUL', 'BS', 'excav',
       'DOLLY', 'APPOR', 'F650', 'golf', 'Well Driller', 'Mta',
       'Enclosed Body - Nonremovable Enclosure', 'Van T', 'SKID-',
       'firet', 'E SCO', 'DIRT', 'Schoo', 'ICE C', 'motor', 'KUBOT',
       'NYS A', 'range', 'LMB', 'BULLD', 'horse', 'ACCES', 'FLATB',
       'Barri', 'subn', 'FORD', 'comm.', 'MAIL', 'unkow', 'Acces',
       'Van (', 'Motor', 'BTM', 'US Po', 'Pas', 'Attac', 'NTTRL', 'MOTOR',
       'YELLO', 'movin', 'nypd', 'SUBUR', 'Elect', 'Rescu', 'E-BIK',
       'COURI', 'E - B', 'NAVIG', 'Subn', 'mta b', 'COMMU', 'HORSE', 'C3',
       'TIR', 'st', 'CONST', 'Motor Home', 'TRACK EXCA', 'concr', 'HINO',
       'dumps', 'other', 'semi', 'Stree', 'CAT P', 'power', 'garba',
       'FRIEG', 'wagon', 'Garba', 'BOOM', 'Comme', 'RMP', 'PASSE',
       'Posta', 'SEGWA', 'SC', 'Deliv', 'cater', 'SEA', 'moter', 'Hrse',
       'Trl', 'U-Hau', 'BUCKE', 'Mail', 'Sanit', 'BK', 'Glass Rack',
       'NYCHA', 'Snow', 'COMER', 'Pick', 'Picku', 'Grain', 'E AMB',
       'NYPD', 'SPC', 'A', 'rv', 'TKTR', 'GATOR', 'VAV', 'santa', 'EXCAV',
       'none', 'Road', 'PKUP', 'Firet', 'GOVER', 'te', 'LTRL', 'Tract',
       '\x7fomm', 'TRANS', 'TRACK', 'MAC T'], dtype=object)

In [32]:
df_mtaxi = df.query("BOROUGH == 'MANHATTAN' and `VEHICLE TYPE CODE 1` == 'Taxi'")

In [34]:
df["CONTRIBUTING FACTOR VEHICLE 1"].unique()

array(['Passing or Lane Usage Improper', 'Driver Inattention/Distraction',
       'Reaction to Uninvolved Vehicle', 'Following Too Closely',
       'Unspecified', 'Pavement Slippery', 'Unsafe Lane Changing',
       'Backing Unsafely', 'Fell Asleep', 'Failure to Yield Right-of-Way',
       'Traffic Control Disregarded', 'Oversized Vehicle',
       'Other Vehicular', 'Unsafe Speed', 'View Obstructed/Limited', nan,
       'Driver Inexperience', 'Fatigued/Drowsy', 'Passenger Distraction',
       'Steering Failure', 'Passing Too Closely', 'Turning Improperly',
       'Illnes', 'Alcohol Involvement', 'Drugs (illegal)', 'Glare',
       'Tire Failure/Inadequate', 'Obstruction/Debris',
       'Aggressive Driving/Road Rage', 'Brakes Defective',
       'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
       'Lost Consciousness', 'Physical Disability',
       'Lane Marking Improper/Inadequate', 'Driverless/Runaway Vehicle',
       'Cell Phone (hand-Held)', 'Tow Hitch Defective', 'Animals Action',
       'Outside Car Distraction', 'Failure to Keep Right',
       'Accelerator Defective', 'Pavement Defective',
       'Prescription Medication',
       'Traffic Control Device Improper/Non-Working', 'Vehicle Vandalism',
       'Tinted Windows', 'Windshield Inadequate',
       'Using On Board Navigation Device', 'Other Lighting Defects',
       'Other Electronic Device', 'Shoulders Defective/Improper',
       'Headlights Defective', 'Eating or Drinking',
       'Cell Phone (hands-free)', 'Listening/Using Headphones', 'Texting'],
      dtype=object)

In [40]:
pave = df.query("`CONTRIBUTING FACTOR VEHICLE 1` =='Pavement Defective' and `CONTRIBUTING FACTOR VEHICLE 2` == 'Pavement Defective'")

In [42]:
pave.sort_values (by = "BOROUGH")

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
132508,11/19/19,8:30,BRONX,"(40.883858, -73.855896)",0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4244320,Sedan,Taxi
173272,9/17/19,12:30,BRONX,NaN,2,0,0,0,0,0,2,0,Pavement Defective,Pavement Defective,4207477,Station Wagon/Sport Utility Vehicle,Dump
59391,5/14/20,20:40,BROOKLYN,"(40.69613, -73.987114)",0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4313606,Sedan,Bike
279561,3/24/19,22:17,BROOKLYN,"(40.660713, -73.92377)",0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4103567,Sedan,Sedan
312976,1/13/19,14:00,BROOKLYN,"(40.609867, -73.92239)",0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4066644,Sedan,Sedan
56767,6/21/20,9:25,MANHATTAN,"(40.83856, -73.94586)",0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4321765,Bike,Bike
254250,5/16/19,16:20,MANHATTAN,"(40.731018, -73.985916)",1,0,0,0,1,0,0,0,Pavement Defective,Pavement Defective,4133338,Bus,Bike
309167,1/31/19,19:00,MANHATTAN,"(40.725025, -74.005905)",0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4072829,Sedan,NaN
322175,1/4/19,15:26,MANHATTAN,"(40.726505, -73.9883)",0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4061754,Station Wagon/Sport Utility Vehicle,Sedan
198304,7/25/19,16:00,QUEENS,"(40.71327, -73.91218)",0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4178040,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
239869,5/30/19,16:45,STATEN ISLAND,"(40.62862, -74.124695)",0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4145428,Sedan,Pick-up Truck
14743,10/26/20,6:45,NaN,NaN,0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4361246,Station Wagon/Sport Utility Vehicle,Sedan
81403,2/24/20,1:05,NaN,"(40.695114, -73.93194)",0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4293371,Sedan,Taxi
149103,10/31/19,4:35,NaN,"(40.825294, -73.864845)",0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4232662,Sedan,Station Wagon/Sport Utility Vehicle
155198,10/23/19,6:57,NaN,"(40.857903, -73.86468)",0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4227947,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
184928,8/23/19,9:45,NaN,NaN,0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4193803,Sedan,Box Truck
195926,8/14/19,21:00,NaN,"(40.696033, -73.98453)",0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4188740,Sedan,Sedan
207984,7/7/19,0:00,NaN,"(40.583485, -73.9601)",0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4166086,Sedan,Station Wagon/Sport Utility Vehicle

In [52]:
df.query("`NUMBER OF PERSONS KILLED` == 3")

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
39644,10/6/20,3:52,QUEENS,"(40.66549, -73.819534)",1,3,0,0,0,0,1,3,Unsafe Speed,NaN,4355333,Sedan,NaN
47224,7/11/20,20:18,BROOKLYN,"(40.58993, -73.90059)",4,3,0,0,0,0,4,3,Driver Inexperience,Driver Inexperience,4327676,Sedan,Sedan

In [54]:
df.query("2 <=`NUMBER OF PERSONS KILLED` <= 3")

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
4348,12/12/20,22:52,BROOKLYN,"(40.652752, -73.88629)",0,2,0,0,0,0,0,2,Traffic Control Disregarded,Unspecified,4375377,Sedan,Sedan
7071,10/30/20,17:18,QUEENS,"(40.705147, -73.7957)",3,2,3,2,0,0,0,0,Driver Inexperience,NaN,4362781,Station Wagon/Sport Utility Vehicle,NaN
9559,11/20/20,11:45,QUEENS,"(40.651405, -73.758896)",2,2,0,0,0,0,2,2,Driver Inattention/Distraction,NaN,4369300,Sedan,NaN
20179,10/26/20,16:01,NaN,"(40.865314, -73.836365)",1,2,0,0,0,0,1,2,Illnes,Unspecified,4362350,Sedan,Station Wagon/Sport Utility Vehicle
39644,10/6/20,3:52,QUEENS,"(40.66549, -73.819534)",1,3,0,0,0,0,1,3,Unsafe Speed,NaN,4355333,Sedan,NaN
47224,7/11/20,20:18,BROOKLYN,"(40.58993, -73.90059)",4,3,0,0,0,0,4,3,Driver Inexperience,Driver Inexperience,4327676,Sedan,Sedan
54863,7/20/20,23:46,NaN,"(40.835087, -73.82538)",5,2,0,0,0,0,5,2,Unsafe Speed,Unspecified,4330670,Sedan,Sedan
59719,6/21/20,21:23,NaN,NaN,5,2,0,0,0,0,5,2,Failure to Keep Right,Unspecified,4322266,Sedan,Sedan
69748,4/26/20,3:35,NaN,"(40.811428, -73.90091)",2,2,0,0,0,0,2,2,Unsafe Speed,NaN,4310365,Sedan,NaN
72195,6/11/20,1:34,NaN,NaN,0,2,0,1,0,0,0,1,Unsafe Speed,NaN,4319230,Sedan,NaN
158760,10/4/19,18:45,NaN,"(40.825283, -73.88648)",1,2,0,0,0,0,1,2,Unspecified,NaN,4218016,Sedan,NaN
198087,8/11/19,3:45,NaN,"(40.79806, -73.97554)",0,2,0,0,0,0,0,2,Unsafe Speed,NaN,4187133,Sedan,NaN
223873,6/23/19,12:00,NaN,"(40.667076, -73.78266)",4,2,0,0,0,0,4,2,Lost Consciousness,Unspecified,4157732,Station Wagon/Sport Utility Vehicle,Sedan
237700,6/8/19,0:07,BROOKLYN,"(40.608204, -73.920715)",0,2,0,0,0,0,0,2,Unsafe Speed,Unspecified,4147255,Sedan,Station Wagon/Sport Utility Vehicle
293213,2/11/19,1:17,NaN,"(40.84519, -73.9112)",1,2,0,1,0,0,1,1,Driver Inattention/Distraction,Unsafe Speed,4079289,Station Wagon/Sport Utility Vehicle,Sedan
311509,1/27/19,3:29,NaN,"(40.66615, -73.80575)",0,2,0,0,0,0,0,2,Unsafe Speed,NaN,4070586,Station Wagon/Sport Utility Vehicle,NaN

In [57]:
df17 = pd.read_csv("flt_delays_17.csv")
df18 = pd.read_csv("flt_delays_18.csv")

In [59]:
dfflts = pd.concat([df17, df18], ignore_index= True)